@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: quatro, sans-serif;
  font-style: normal;
}
h4 {
  font-weight: 400;
}
body {
  margin: 0px;
  padding: 0px;
}
.parentClass {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEF2F4;
}
.img_cover {
  width: 150px;
  height: 150px;
}

.songData {
  padding: 4px;
  display: flex;
  gap: 19px;
  justify-content: start;
  overflow-x: auto;
  height: full;
  z-index: 2;
}
.musicCard {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  height: 28vh;
}
.img_cover {
  width: 100%;
  height: 66%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: rgba(25, 25, 25, 0.45) 0px 25px 25px -20px;
  transition: 0.2s ease-out;
}
.img_cover:hover {
  height: 67.6%;
  width:101.6%;
}
.song_name {
  margin-top: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
}
.artist {
  color: rgb(25, 25, 25, 0.6);
  margin-top: 0.3rem;
  font-size: 0.75rem;
  font-weight: 500;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

audio {
  display: none;
}

.mainDiv {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1120px;
  height: 760px;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 25px rgba(25, 25, 25, 0.45);
  background-color: #fff;
}
.maincont {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 82%;
}
.mainNav {
  width: 18%;
  background-color:#FFA559;
  box-shadow: 0px 0px 25px rgba(25, 25, 25, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainNav h5 {
  padding-left: 0.7rem;
  margin-top: 10px;
  color: rgb(25, 25, 25, 0.9);
  font-weight: 500;
  font-size: 19px;
}
.navLinks {
  padding-left: 1.6rem;
  margin-top: 10px;
  display: block;
  color: rgb(25, 25, 25, 0.7);
  text-decoration: none;
  transition: color 0.1s;
  font-weight: 500;
  cursor: pointer;
}
.navLinks:hover {
  color: #fff;
  border-right: 2px solid #fff;
}
.logo_box {
  display: flex;
  justify-content: center;
  margin-right: 0.6rem;
}

.main_logo {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main_logo img {
  width: 4rem;
}
.logo_head {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
.newNav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(25, 25, 25, 0.45);
  height: 5vh;
  flex-wrap: wrap;
}
.search_bar {
  display: flex;
  justify-content: start;
  width: 42%;
  padding-bottom: 15px;
}

.search_bar input {
  background-color: #FFA559;
  border-radius: 1.3rem;
  border: none;
  width: 13rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search_bar input:focus {
  outline: none;
}
.search_bar input::placeholder{
  color: #191919;
}
.search_button {
  min-width: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
  
}
.search_button img {
  margin-bottom: 0.1rem;
}
.user_info {
  display: flex;
  justify-content: end;
  align-items: center;
}
.user_logo_box {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_logo_box img {
  padding-top: 10px;
  max-width: 45px;
}
.user_info span {
  padding-bottom: 5px;
  padding-right: 10px;
  float: right;
}
.morecont {
  min-width: 100%;
  display: flex;
  gap: 30px;
}

.imorecont {
  height: 40vh;
  margin-top: 1rem;
  display: flex;
  padding: 10px;
}
.player{
  background-color: rgb(255, 255, 255,0.3);
  outline: 1px solid  rgb(255, 165, 89);
  box-shadow: 0px 0px 25px rgba(25, 25, 25, 0.2);
  border-radius: 1.3rem;
}
.playerbox {
  margin-left: 1rem;
  min-width: 31.6%;
}
.favbox {
  min-width: 63%;
}
.favbox h4{
  display: inline;
  margin-right: 10px;

}

.player_button {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease-in;
  margin-top: 0.9rem;
}

.Logo {
  width: 35px;
  height: 35px;
  background-color: #FFA559;
  border-radius: 50%;
}

.smallLogo {
  width: 25px;
  height: 25px;
  background-color: #FFA559;
  border-radius: 50%;
}
.ultraSmallLogo {
  width: 14px;
  height: 14px;
  background-color: #FFA559;
  border-radius: 50%;
}
.time {
  font-size: 12px;
}
.looper {
  display: flex;
  gap: 6px;
}
.playerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 1.3rem;
  overflow: hidden;
}
.playerDiv img{
  border-radius: 1.2rem;

}

.favourite {
  color: #191919;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  margin-bottom:12px ;
  background-color: rgb(255, 165, 89);

}
.Datainfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player {
  justify-content: center;
}

.favData {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.favImg {
  width: 30px;
  height: 30px;
}

.searchDiv {
  position: absolute;
  top: 30px;
  background: white;
  width: 23%;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 12px;
}
.searchDiv:hover {
  background: rgb(230, 227, 227);
}
.progressBar{
  height: 20px;
  background: linear-gradient(to right,#FFA559 0%,#FFA559 0%,#fff 0%,#fff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 20px;
  transition: background 450s ease-in;
  -webkit-appearance: none;
  border-radius: 25px;
  border:1px solid #FFA559;
}
.progressBar::-webkit-slider-thumb{
  appearance: none;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFA559;
  border: 1px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.topnav_link{
  border: none;
  color: #191919;
  text-decoration: none;
  border-radius:7px;
  padding: 8px 6px;
  margin-right: 12px;
  cursor: pointer;
  background-color:#FFA559;
  margin-bottom: 8px;

}
